body{
    margin: 0px;
    height: 100%;
    background-color: Black;
}

.header{
    height: 50%;
    text-align: center;
    background-color: Gray;
    color: white;
}

.footer{
    position: fixed;
    bottom: 0;
    margin: 0px;
    background-color: Gray;
    text-align: center;
}

.button{
    text-align: center;
    padding: 10px;
}

[class*="col-"]
{
    width: 100%;
    float: left;
}

@media only screen and (min-width: 600px)
{
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px)
{
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.center{
    background-color: red;
    padding:10px;
}

div{
    border-radius: 5px;
    margin-bottom: 20px;
}

input[type=text],input[type=number],select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    background-color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
}

input[type=submit]:hover{
    background-color: #45a045;
    transition: 0.5s
}

table{
    border-collapse: collapse;
    width: 100%;
}

tr{
    border-radius: 5px;
}

table ,td ,th{
    border: 1px solid #ddd;
    text-align: left;
}

@media screen and (max-width: 600px)
{
    table
    {
        border: 0;
    }

    table thead
    {
        display: none;
    }

    table tr
    {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #ddd;
    }

    table td 
    {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dotted #ccc;
    }

    table td:last-child
    {
        border-bottom: 0;
    }

    table td:before 
    {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }
}